body,
html{
    height: 100%;
}


.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
}

.sideBar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 4fr 4fr;
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-items: start;
    
}
.sidebarHead{
    padding-left: 10%;
    font-size: 40px;
}

.sideBar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10%;
    list-style-type: none;
    font-size: 40px;
    

}
.sidebar .optionsUpper{
    background-color: cornflowerblue;
}

.sidebar .optionsLower{
    background-color: darkcyan;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    background-color: orange;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.headerUpper{
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    
}

.headerLower{

}

.mainContent{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    background-color: chartreuse;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.projectArea{
    padding: 30px;
    padding-top: 0px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.projectsHeader{
    padding-left: 30px;
}


.projectArea > div{
    border-radius:1%;
    border: solid;
    background-color: grey;
}


.announcements{
    padding: 5%;
    gap: 10px;
    margin-bottom: 2%;
    border-radius: 1%;
    border: solid;
    background-color: darkkhaki;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.announcements > div{
    border-bottom: solid;
}

.trendingHeader{
    grid-row: 3 /4;
}

.trending{
    padding: 5%;
    margin-bottom: 30px;
    border-radius: 1%;
    border: solid;
    background-color: darksalmon;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.userPfp{
    border: solid;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    height: 50px;
    width: 50px;
    overflow: hidden;
    

    
    


}
.userTag{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}
.userInfo{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.user{
    border: solid;
    border-radius: 2%;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}



