body,
html{
    height: 100%;
}


.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
}

.sideBar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 4fr 4fr;
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}
.sideBar ul{
    list-style-type: none;
    

}
.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    background-color: orange;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.headerUpper{
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
}

.mainContent{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    background-color: chartreuse;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.projectArea{
    padding: 30px;
    padding-top: 0px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.projectsHeader{
    padding-left: 30px;
}


.projectArea > div{
    border-radius:1%;
    border: solid;
    background-color: grey;
}


.announcements{
    margin-bottom: 2%;
    border-radius: 1%;
    border: solid;
    background-color: darkkhaki;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.trendingHeader{
    grid-row: 3 /4;
}

.trending{
    margin-bottom: 30px;
    border-radius: 1%;
    border: solid;
    background-color: darksalmon;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
